html, body, #root, .App {
  background-color: rgb(234, 234, 234);
  height: 100%;
}

html {
  font-size: 8px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 16px;
  }
  p {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }

  p {
    font-size: 16px;
  }
}

.App {
  text-align: center;
  font-family: 'San Francisco Text',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
}

.main {
  margin-top: auto;
}

.links {
  display: flex;
  justify-content: space-around;
}

.contact {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}